{% extends "base.html" %}

{% block title %}{{ title }} - Sing App{% endblock %}

{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">YOU ARE HERE</li>
        <li class="breadcrumb-item active">Visits</li>
    </ol>
    
    <h1 class="page-title">
        Visits
        <small><small>Traffic Overview</small></small>
    </h1>
    
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <header><h5>Visit Statistics</h5></header>
                <div class="widget-body">
                    <p class="lead">Example page - SCSS compilation needed for full styling</p>
                    <p>Full Sing App styling will be available after Phase 6 (SCSS Compilation)</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
