<div class="theme-helper">
    <section class="widget theme-helper-content">
        <header class="theme-helper-header d-flex p-0">
            <div class="theme-helper-toggler hidden-print" data-step='4' data-position="left"
                data-intro="It's a theme customizer sidebar, go inside it! ðŸ˜ƒï¸">
                <div class="theme-helper-spinner bg-primary text-white">
                    <i class="la la-cog"></i>
                    <i class="la la-cog fs-smaller"></i>
                </div>
            </div>
            <h5>Configuration</h5>
        </header>
        <div class="widget-body mt-4">
            <h6>Navbar Type</h6>
            <div class="form-group row justify-content-around">
                <div class="abc-radio">
                    <input type="radio" checked name="navbar-type" id="navbar_static" value="static">
                    <label for="navbar_static">Static</label>
                </div>
                <div class="abc-radio">
                    <input type="radio" name="navbar-type" id="navbar_floating" value="floating">
                    <label for="navbar_floating">Floating</label>
                </div>
            </div>
            <h6 class="mt-4">Navbar Color</h6>
            <ul class="colors-list">
                <li class="color-box-nav-bar" style="background-color: rgb(0, 43, 73);" data-style="first"></li>
                <li class="color-box-nav-bar active" style="background-color: rgb(255, 255, 255);" data-style="second">
                </li>
                <li class="color-box-nav-bar" style="background-color: rgb(0, 68, 114);" data-style="third"></li>
                <li class="color-box-nav-bar" style="background-color: rgb(233, 235, 239);" data-style="fourth"></li>
                <li class="color-box-nav-bar" style="background-color: rgb(209, 231, 245);" data-style="fifth"></li>
                <li class="color-box-nav-bar" style="background-color: rgb(204, 221, 233);" data-style="sixth"></li>
                <li class="color-box-nav-bar" style="background-color: rgb(214, 223, 230);" data-style="seventh"></li>
                <li class="color-box-nav-bar" style="background-color: rgb(19, 25, 29);" data-style="eighth"></li>
                <li class="color-box-nav-bar" style="background-color: rgb(32, 174, 140);" data-style="ninth"></li>
            </ul>
            <h6 class="mt-4">Sidebar Type</h6>
            <div class="form-group row justify-content-around">
                <div class="abc-radio"><input type="radio" checked name="sidebar-type" id="sidebar_transparent"
                        value="transparent">
                    <label for="sidebar_transparent">Transparent</label>
                </div>
                <div class="abc-radio"><input type="radio" name="sidebar-type" id="sidebar_solid" value="solid" checked>
                    <label for="sidebar_solid">Solid</label>
                </div>
            </div>
            <h6 class="mt-4">Sidebar Color</h6>
            <ul class="colors-list">
                <li class="color-box-side-bar active" style="background-color: rgb(0, 43, 73);" data-style="first"></li>
                <li class="color-box-side-bar" style="background-color: rgb(255, 255, 255);" data-style="second"></li>
                <li class="color-box-side-bar" style="background-color: rgb(0, 68, 114);" data-style="third"></li>
                <li class="color-box-side-bar" style="background-color: rgb(233, 235, 239);" data-style="fourth"></li>
                <li class="color-box-side-bar" style="background-color: rgb(209, 231, 245);" data-style="fifth"></li>
                <li class="color-box-side-bar" style="background-color: rgb(204, 221, 233);" data-style="sixth"></li>
                <li class="color-box-side-bar" style="background-color: rgb(214, 223, 230);" data-style="seventh"></li>
                <li class="color-box-side-bar" style="background-color: rgb(19, 25, 29);" data-style="eighth"></li>
                <li class="color-box-side-bar" style="background-color: rgb(32, 174, 140);" data-style="ninth"></li>
            </ul>
            <div class="mt-4">
                <a href="https://flatlogic.com/admin-dashboards/sing-app-html5" target="_blank" role="button"
                    class="btn btn-info btn-rounded-f btn-block fs-mini text-white">
                    Purchase
                </a>
                <a href="http://demo.flatlogic.com/sing-app/documentation/" target="_blank" role="button"
                    class="btn btn-primary btn-rounded-f btn-block fs-mini">
                    Documentation
                </a>
            </div>
            <div class="d-flex justify-content-between mt-lg">
                <a role="button" target="_blank" href="https://flatlogic.com/forum/"
                    class="btn btn-outline-default btn-rounded-f fs-mini text-muted">
                    <i class="glyphicon glyphicon-headphones mr-xs"></i>
                    Support
                </a>
                <a role="button" target="_blank" href="https://github.com/flatlogic/sing-app"
                    class="btn btn-outline-default btn-rounded-f fs-mini text-muted">
                    <i class="fa fa-github mr-xs"></i>
                    Github
                </a>
            </div>
            <div class="mt-lg d-flex flex-column align-items-center theme-sharing">
                <span class="fs-sm">
                    Thank you for sharing!
                </span>
                <div class="d-flex justify-content-center text-light mt-2">
                    <a target="_blank"
                        href="https://twitter.com/intent/tweet?text=Admin%20dashboard%20template%20built%20with%20NodeJS,%20React%20and%20Bootstrap%204!&url=https://demo.flatlogic.com/sing-app/html-bs4/&via=flatlogic">
                        <i class="fa fa-twitter pr-1"></i>
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://demo.flatlogic.com/sing-app/html-bs4/"
                        target="_blank">
                        <i class="fa fa-facebook pl-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
