{% extends "base.html" %}

{% block title %}Colors - Sing App{% endblock %}

{% block content %}
<div class="page-container">
    <div class="page-content">
        <div class="page-title">
            <h3>Colors</h3>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <header>
                        <h4>Color Palette</h4>
                    </header>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <div class="p-3 bg-primary text-white rounded">Primary</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="p-3 bg-secondary text-white rounded">Secondary</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="p-3 bg-success text-white rounded">Success</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="p-3 bg-danger text-white rounded">Danger</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="p-3 bg-warning text-dark rounded">Warning</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="p-3 bg-info text-white rounded">Info</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="p-3 bg-light text-dark rounded">Light</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="p-3 bg-dark text-white rounded">Dark</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
