{{#extend "layout" title="Sing App Dashboard - Profile"}}
  {{#content "sidebar"}}
    {{> sidebar active="chat"}}
  {{/content}}
  {{#content "content" mode="replace"}}
  <div class="chat-page chat-state">
    <div class="chat-list-section">
    <section class="chat-section">
        <div class="form-group mb-0">
            <div class="input-group input-group-no-border">
                <input class="form-control" type="text" placeholder="Search">
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-search"></i>
                    </span>
                </span>
            </div>
        </div>
    </section>
    <section class="chat-section group-chats d-none d-lg-block">
        <h5>Group Chats</h5>
        <ul class="chat-list">
            <li class="chat-list-item" data-gChat="0" data-chatID="0">
                <div class="chat-list-item-wrapper">
                    <ul class="avatars-column">
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/1.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/2.png">
                                </div>
                            </div>
                        </li><li>
                        <div class="avatar mr-3">
                            <div class="image-wrapper stroke">
                                <img src="../img/chat/avatars/3.png">
                            </div>
                        </div>
                    </li>
                    </ul>
                    <section class="chat-item-main">
                        <header class="d-flex justify-content-between mb-1">
                            <h6 class="chat-title">
                                <img src="../img/chat/peoples.svg" class="group-chat-icon mr-1">
                                    Light Blue Group
                                <span class="ml-1">(5)</span>
                            </h6>
                            <span class="ml-auto timestamp">
                                    1 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            <span class="owner-indicator mr-1">
                                You:
                            </span>
                                Guys did you see the new update of the Sing App from our competitors?
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-gChat="1" data-chatID="1">
                <div class="chat-list-item-wrapper">
                    <ul class="avatars-column">
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/3.png">
                                </div>
                            </div>
                        </li>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/4.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/5.png">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <section class="chat-item-main">
                        <header class="d-flex justify-content-between mb-1">
                            <h6 class="chat-title">
                                <img src="../img/chat/peoples.svg" class="group-chat-icon mr-1">
                                    React Native
                                <span class="ml-1">(3)</span>
                            </h6>
                                <span class="ml-auto timestamp">
                                    10 Mar
                                </span>
                        </header>
                        <p class="chat-last-message">
                            <span class="owner-indicator mr-1">
                                Jane:
                            </span>
                                Hi, @Darrell. It's too easy. I can explain it too you if you have some minutes.
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-gChat="2" data-chatID="2">
                <div class="chat-list-item-wrapper">
                    <ul class="avatars-column">
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/3.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/4.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/5.png">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <section class="chat-item-main">
                        <header class="d-flex justify-content-between mb-1">
                            <h6 class="chat-title">
                                <img src="../img/chat/peoples.svg" class="group-chat-icon mr-1">
                                    Common
                                <span class="ml-1">(3)</span>
                            </h6>
                            <span class="ml-auto timestamp">
                                10 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            <span class="owner-indicator mr-1">
                                Jane:
                            </span>
                                Hi, @Darrell. It's too easy. I can explain it too you if you have some minutes.
                            </p>
                    </section>
                </div>
            </li><li class="chat-list-item" data-gChat="2" data-chatID="2">
                <div class="chat-list-item-wrapper">
                    <ul class="avatars-column">
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/3.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/4.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/5.png">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <section class="chat-item-main">
                        <header class="d-flex justify-content-between mb-1">
                            <h6 class="chat-title">
                                <img src="../img/chat/peoples.svg" class="group-chat-icon mr-1">
                                    Errors
                                <span class="ml-1">(3)</span>
                            </h6>
                            <span class="ml-auto timestamp">
                                10 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            <span class="owner-indicator mr-1">
                                Jane:
                            </span>
                                Hi, @Darrell. It's too easy. I can explain it too you if you have some minutes.
                            </p>
                    </section>
                </div>
            </li>
        </ul>
    </section>
    <section class="chat-section personal-chats mb-0 d-none d-lg-block">
        <h5>Personal Chats</h5>
        <ul class="chat-list">
            <li class="chat-list-item active" data-pChat="0" data-chatID="3">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/6.png">
                        </div>
                        <span class="status bg-success"></span>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex justify-content-between mb-1">
                            <h6 class="chat-title">
                                Jane Rowlis
                            </h6>
                            <span class="ml-auto timestamp">
                                1 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            <span class="owner-indicator mr-1">
                                You:
                            </span>
                                Modern admin is the responsive bootstrap 4 admin template!
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-pChat="1" data-chatID="4">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/2.png">
                        </div>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex justify-content-between mb-1">
                            <h6 class="chat-title">
                                Sam Fisher
                            </h6>
                            <span class="ml-auto timestamp">
                                1 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            If it takes long you can mail m...
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-pChat="2" data-chatID="5">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/3.png">
                        </div>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex justify-content-between mb-1">
                            <h6 class="chat-title">
                                Jane Bredly
                            </h6>
                            <span class="ml-auto timestamp">
                                1 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            If it takes long you can mail m...
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-pChat="3" data-chatID="6">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/6.png">
                        </div>
                        <span class="status bg-success"></span>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex justify-content-between mb-1">
                            <h6 class="chat-title">
                                John Hubbard
                            </h6>
                            <span class="ml-auto timestamp">
                                5 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            If it takes long you can mail m...
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-pChat="4" data-chatId="7">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/5.png">
                        </div>
                        <span class="status bg-success"></span>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex justify-content-between mb-1">
                            <h6 class="chat-title">
                                Darrell Jackson
                            </h6>
                            <span class="ml-auto timestamp">
                                6 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            If it takes long you can mail m...
                        </p>
                    </section>
                </div>
            </li>
        </ul>
    </section>
    <section class="chat-section all-chats mb-0 d-lg-none">
        <h5>Group Chats</h5>
        <ul class="chat-list mb-3">
            <li class="chat-list-item" data-gChat="0" data-chatID="0">
                <div class="chat-list-item-wrapper">
                    <ul class="avatars-column">
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/1.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/2.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/3.png">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <section class="chat-item-main">
                        <header class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="chat-title">
                                <img src="../img/chat/peoples.svg" class="group-chat-icon mr-1">
                                    Light Blue Group
                                <span class="ml-1">(5)</span>
                            </h6>
                            <span class="ml-auto timestamp">
                                3 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            <span class="owner-indicator mr-1">
                                You:
                            </span>
                                Guys did you see the new update of the Sing App from our competitors?
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-gChat="1" data-chatID="1">
                <div class="chat-list-item-wrapper">
                    <ul class="avatars-column">
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/4.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/5.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/6.png">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <section class="chat-item-main">
                        <header class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="chat-title">
                                <img src="../img/chat/peoples.svg" class="group-chat-icon mr-1">
                                    React Native
                                <span class="ml-1">(3)</span>
                            </h6>
                            <span class="ml-auto timestamp">
                                2 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            <span class="owner-indicator mr-1">
                                Jane:
                            </span>
                                Hi, @Darrell. It's too easy. I can explain it too you if you have some minutes.
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-gChat="2" data-chatID="2">
                <div class="chat-list-item-wrapper">
                    <ul class="avatars-column">
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/3.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/4.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar mr-3">
                                <div class="image-wrapper stroke">
                                    <img src="../img/chat/avatars/5.png">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <section class="chat-item-main">
                        <header class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="chat-title">
                                <img src="../img/chat/peoples.svg" class="group-chat-icon mr-1">
                                    Common
                                <span class="ml-1">(3)</span></h6><span class="ml-auto timestamp">
                                    2 Mar
                                </span>
                        </header>
                        <p class="chat-last-message">
                            <span class="owner-indicator mr-1">
                                Jane:
                            </span>
                                Hi, @Darrell. It's too easy. I can explain it too you if you have some minutes.
                        </p>
                    </section>
                </div>
            </li>
        </ul>
        <h5>Personal Chats</h5>
        <ul class="chat-list">
            <li class="chat-list-item active" data-pChat="0" data-chatID="3">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/1.png">
                        </div>
                        <span class="status bg-success">
                        </span>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="chat-title">
                                Jane Rowlis
                            </h6>
                            <span class="ml-auto timestamp">
                                3 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            <span class="owner-indicator mr-1">
                                You:
                            </span>
                                Modern admin is the responsive bootstrap 4 admin template!
                            </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-pChat="1" data-chatID="4">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/2.png">
                        </div>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="chat-title">
                                Sam Fisher
                            </h6>
                            <span class="ml-auto timestamp">
                                6 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            If it takes long you can mail m...
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-pChat="2" data-chatID="5">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/3.png">
                        </div>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="chat-title">
                                Jane Bredly
                            </h6>
                            <span class="ml-auto timestamp">
                                10 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            If it takes long you can mail m...
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-pChat="3" data-chatID="6">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/4.png">
                        </div>
                        <span class="status bg-success"></span>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="chat-title">
                                John Hubbard
                            </h6>
                            <span class="ml-auto timestamp">
                                1 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            If it takes long you can mail m...
                        </p>
                    </section>
                </div>
            </li>
            <li class="chat-list-item" data-pChat="4" data-chatId="7">
                <div class="chat-list-item-wrapper">
                    <div class="avatar mr-3">
                        <div class="image-wrapper">
                            <img src="../img/chat/avatars/5.png">
                        </div>
                        <span class="status bg-success"></span>
                    </div>
                    <section class="chat-item-main">
                        <header class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="chat-title">
                                Darrell Jackson
                            </h6>
                            <span class="ml-auto timestamp">
                                1 Mar
                            </span>
                        </header>
                        <p class="chat-last-message">
                            If it takes long you can mail m...
                        </p>
                    </section>
                </div>
            </li>
        </ul>
    </section>
    </div>
    <div class="d-flex flex-column chat-dialog-section">
    <div class="d-lg-none chat-mobile-navigation px-0">
        <i class="la la-angle-left la-lg"></i>
        Chats
    </div>
    <header class="chat-dialog-header">
        <div>
            <h5 class="fw-normal mb-0">Jane Rowlis</h5>
            <small>
                <p class="text-muted mb-0">
                    <span class="text-info">
                        Online
                    </span>
                </p>
            </small>
        </div>
        <i class="info-icon la la-ellipsis-v d-none d-xl-inline-block"></i>
        <i class="info-icon la la-ellipsis-v d-xl-none"></i>
    </header>
    <div class="chat-dialog-body">
        <div class="dialog-divider">
            Yesterday
        </div>
        <div class="dialog-messages">
            <div class="chat-message owner">
                <div class="avatar message-avatar">
                    <div class="image-wrapper">
                        <img src="../img/chat/avatars/5.png">
                    </div>
                </div>
                <p class="message-body">
                    How can we help? We’re here for you!
                </p>
                <small class="d-block text-muted">
                    3:09 pm
                </small>
            </div>
            <div class="chat-message">
                <div class="avatar message-avatar">
                    <div class="image-wrapper">
                        <img src="../img/chat/avatars/6.png">
                    </div>
                </div>
                <p class="message-body">
                  Hey John, I am looking for the best admin template.
                  Could you help me to find it out?
                </p>
                <small class="d-block text-muted">
                    3:11 pm
                </small>
            </div>
            <div class="chat-message">
                <p class="message-body">
                    It should be Bootstrap 4 compatible
                </p>
                <small class="d-block text-muted">
                    3:12 pm
                </small>
            </div>
        </div>
        <div class="dialog-divider">
            Today
        </div>
        <div class="dialog-messages">
            <div class="chat-message owner">
                <div class="avatar message-avatar">
                    <div class="image-wrapper">
                        <img src="../img/chat/avatars/5.png">
                    </div>
                </div>
                <p class="message-body">
                    Absolutely!
                </p>
                <small class="d-block text-muted">
                    3:12 pm
                </small>
            </div>
            <div class="chat-message owner">
                <p class="message-body">
                    Modern admin is the responsive bootstrap 4 admin template!
                </p>
                <small class="d-block text-muted">
                    3:13 pm
                </small>
            </div>
        </div>
    </div>
    <form class="chat-section new-message mb-0 mx-0 pb-3 pt-3">
        <button type="button" class="btn attachment btn-transparent p-0">
            <i class="la la-plus"></i>
        </button>
        <input type="text" placeholder="Type Your Message" class="form-control" id="__BVID__264">
        <button type="submit" class="btn px-4 new-message-btn btn-danger">
            <span>Send</span>
        </button>
    </form>
</div>
    <div class="chat-info-section">
        <div class="d-lg-none chat-mobile-navigation">
            <i class="la la-angle-left la-lg"></i>
            Dialog
    </div>
          <section class="chat-info-header chat-section bg-info">
              <div class="d-flex mb-3">
                  <header>
                      <h3 class="mb-3 fw-semi-bold">Jane Rowlis</h3>
                      <h5>HighPark Inc</h5>
                      <h6>CEO & Founder</h6>
                  </header>
                  <div class="avatar ml-auto mr-3">
                      <div class="image-wrapper">
                          <img src="../img/chat/avatars/6.png">
                      </div>
                  </div>
              </div>
              <footer class="d-flex align-items-center justify-content-between">
                  <a href="mailto:J_Rowlis@gmail.com" class="text-white mt-2">J_Rowlis@gmail.com</a>
                  <ul class="social-links mt-2">
                      <li class="social-link">
                          <a href="https://www.facebook.com/J_Rowlis_lorem_ipsum">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li class="social-link">
                          <a href="https://twitter.com/J_Rowlis_lorem_ipsum">
                              <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                      <li class="social-link">
                          <a href="https://www.linkedin.com/in/J_Rowlis_lorem_ipsum/">
                              <i class="fa fa-linkedin"></i>
                          </a>
                      </li>
                  </ul>
              </footer>
          </section>
          <section class="chat-section chat-info-body">
              <ul class="chat-info-list">
                  <li class="chat-info-item">
                      <header class="item-header" data-toggle="collapse" data-target="#common-info" role="button">
                          <img src="../img/chat/information.svg" class="icon">
                          <h5 class="title">Information</h5>
                          <i class="la la-angle-up ml-auto down"></i>
                      </header>
                      <div id="common-info" class="item-body collapse show" role="tabpanel">
                          <div>
                              <p class="mb-0">+375 29 243 14 12</p>
                              <span class="help-block">Mobile</span>
                              <p class="mb-0">@J_Rowlis</p>
                              <span class="help-block">Username</span>
                          </div>
                      </div>
                  </li>
                  <li class="chat-info-item">
                      <header class="item-header">
                          <img src="../img/chat/notifications.svg" class="icon">
                          <h5 class="title">Notifications</h5>
                          <label for="checkbox-ios1" class="switch ml-auto mb-0">
                              <input type="checkbox" id="checkbox-ios1" class="ios form-check-input" checked>
                              <i></i>
                          </label>
                      </header>
                  </li>
                  <li class="chat-info-item">
                      <header class="item-header collapsed" data-toggle="collapse" data-target="#images" role="button">
                          <img src="../img/chat/images.svg" class="icon">
                          <h5 class="title">Images</h5>
                          <i class="la la-angle-up ml-auto"></i>
                      </header>
                      <div id="images" class="item-body collapse" role="tabpanel">
                          <p class="text-muted">
                              <i>No images</i>
                          </p>
                      </div>
                  </li>
                  <li class="chat-info-item">
                      <header class="item-header collapsed" data-toggle="collapse" data-target="#links" role="button">
                          <img src="../img/chat/links.svg" class="icon">
                          <h5 class="title">Links</h5>
                          <i class="la la-angle-up ml-auto"></i>
                      </header>
                      <div id="links" class="item-body collapse" role="tabpanel">
                          <p class="text-muted">
                              <i>No links</i>
                          </p>
                      </div>
                  </li>
                  <li class="chat-info-item">
                      <header class="item-header collapsed" data-toggle="collapse" data-target="#files" role="button">
                          <img src="../img/chat/files.svg" class="icon">
                          <h5 class="title">Files</h5>
                          <i class="la la-angle-up ml-auto"></i>
                      </header>
                      <div id="files" class="item-body collapse" role="tabpanel">
                          <ul class="files-list">
                              <li class="file-item">
                                  <img src="../img/chat/download.svg" class="download-icon">
                                  <a href="Diagram_0126.jpg">Diagram_0126.jpg</a>
                              </li>
                              <li class="file-item">
                                  <img src="../img/chat/download.svg" class="download-icon">
                                  <a href="Diagram_0127.jpg">Diagram_0127.jpg</a>
                              </li>
                              <li class="file-item">
                                  <img src="../img/chat/download.svg" class="download-icon">
                                  <a href="Diagram_0128.jpg">Diagram_0128.jpg</a>
                              </li>
                              <li class="file-item">
                                  <img src="../img/chat/download.svg" class="download-icon">
                                  <a href="Dynamic_tables_result.pdf">Dynamic_tables_result.pdf</a>
                              </li>
                              <li class="file-item">
                                  <img src="../img/chat/download.svg" class="download-icon">
                                  <a href="Diagram_product_management.pdf">Diagram_product_management.pdf</a>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </section>
    </div>
    <div class="modal" id="group-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                  <section class="group-list-modal chat-section">
                      <header class="group-list-header">
                          <h5 class="mb-0">6 members</h5>
                          <a class="text-muted">
                              <i class="la la-times la-lg"></i>
                          </a>
                      </header>
                      <div class="chat-search mb-2">
                          <input type="text" placeholder="Search" class="form-control">
                          <i class="la la-search"></i>
                      </div>
                      <ul class="group-list">
                          <li>
                              <div class="avatar mr-2">
                                  <div class="image-wrapper">
                                      <img src="../img/chat/avatars/2.png">
                                  </div>
                              </div>
                              <div>
                                  <p class="mb-0">Alex Lesli</p>
                                  <small>
                                      <p class="text-muted mb-0">
                                          <span>Last seen today at 11:22 AM</span>
                                      </p>
                                  </small>
                              </div>
                          </li>
                          <li>
                              <div class="avatar mr-2">
                                  <div class="image-wrapper">
                                      <img src="../img/chat/avatars/2.png">
                                  </div>
                              </div>
                              <div>
                                  <p class="mb-0">Jane Bredly</p>
                                  <small>
                                      <p class="text-muted mb-0">
                                          <span>Last seen today at 11:22 AM</span>
                                      </p>
                                  </small>
                              </div>
                          </li>
                          <li>
                              <div class="avatar mr-2">
                                  <div class="image-wrapper">
                                      <img src="../img/chat/avatars/2.png">
                                  </div>
                              </div>
                              <div>
                                  <p class="mb-0">Darrell Jackson</p>
                                  <small>
                                      <p class="text-muted mb-0">
                                      <span class="text-info">
                                        Online
                                      </span>
                                      </p>
                                  </small>
                              </div>
                          </li>
                      </ul>
                  </section>
              </div>
          </div>
      </div>
  </div>
  {{/content}}
  {{#content "scripts"}}
      <script src="../../node_modules/moment/moment.js"></script>
      <script src="../../node_modules/switchery/dist/switchery.min.js"></script>
      <script src="../js/other/chat-mock-data.js"></script>
  {{/content}}
{{/extend}}
